node_modules
cache
artifacts
.vscode/*
.settings
!.vscode/extensions.json
!.vscode/settings-example.json
!*.default
generated
deployments/localhost

*.local
tmp

.vitepress/cache
.vitepress/dist

hardhat-deploy/


.nx/cache
.nx/workspace-data
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
